@model IEnumerable<PedidoModel>
@{
    var cliente = ViewBag.Clientes as ClienteModel;
    ViewBag.Subtitulo = $"Pedidos do cliente <b>{cliente.NomeUsuario}</b>";
}
<br />
<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@Html.Raw(ViewBag.Subtitulo)</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" asp-route-cid="@cliente.IdUsuario" class="btn btn-primary">Novo Pedido</a>
    </div>
</header>
<hr />

<partial name="_Mensagem" />

@if (Model.Count() > 0)
{
<div class="table-responsive"  style="margin-bottom: 200px;">
    <table class="text-black table table-bordered border border-secondary border-2 rounded-3 tabela-pedidos" id="tableAll"
           style="margin-bottom: 200px;">
        <thead>
            <tr>
                <th>Número</th>
                <th>Data/Hora Pedido</th>
                <th>Valor Total</th>
                <th>Data/Hora Entrega</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.IdPedido.ToString("D4")</td>
                    <td>@(pedido.DataPedido.HasValue ? pedido.DataPedido : "Em aberto")</td>
                    <td>@pedido.ValorTotal.Value.ToString("C")</td>
                    <td>@(pedido.DataEntrega.HasValue ? pedido.DataEntrega : "Não entregue")</td>

                    <td>

                        @if (pedido.DataPedido.HasValue)
                        {

                            @if (pedido.DataEntrega.HasValue)
                            {

                                <a asp-action="Visualizar" asp-route-id="@pedido.IdPedido"
                                   class="bi bi bi-search btn btn-outline-primary"></a>

                            }
                            else
                            {
                                <a asp-action="Entregar" asp-route-id="@pedido.IdPedido"
                                   class="bi bi-truck btn btn-outline-success"></a>

                            }
                        }
                        else
                        {
                            
                            <a asp-action="Fechar" asp-route-id="@pedido.IdPedido"
                               class="bi bi-box2-fill btn btn-outline-success"></a>

                        }


                        <a asp-action="Excluir" asp-route-id="@pedido.IdPedido"
                           class="bi bi-trash3-fill btn btn-outline-danger"></a>

                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
}
else
{
    <p>Não há nennhum pedido cadastrado para este cliente.</p>
   
}