@model EstoqueWeb.ViewModel.CadastrarUsuarioViewModel
@{
    bool alterando = (Context.Request.RouteValues.ContainsKey("id"));

    if (alterando)
        ViewBag.Subtitulo = "Alteração de Usuário";
    else
        ViewBag.Subtitulo = "Cadastro";
}

<br />
<h1 class=" text-primary text-center"><b>@ViewBag.Subtitulo</b></h1>


<div asp-validation-summary="ModelOnly" class="val-summary text-danger mb-3"></div>
<partial name="_Mensagem" />

<div class="container-login">
    <form asp-action="Cadastrar" class="">
        <div class="bi bi-person text-primary text-center" style="font-size: 40px"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <div class="form-group">
            
            <input asp-for="@Model.NomeUsuario" class="form-control " placeholder="Usuário" autocomplete="off" />
            <span asp-validation-for="@Model.NomeUsuario" class="text-danger"></span>
        </div>
        <div class="w-100"> </div>
        <div class="form-group">
            <input asp-for="@Model.Telefone" class="form-control " placeholder="Telefone" autocomplete="off" />
            <span asp-validation-for="@Model.Telefone" class="text-danger"></span>
        </div>
        <div class="w-100"> </div>
        <div class="form-group">
 
            <input asp-for="@Model.Email" class="form-control " placeholder="E-mail" autocomplete="off" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        @if (!alterando)
        {
            <div class="w-100"> </div>
            <div class="form-group">
            
                <input asp-for="@Model.Senha" type="password" class="form-control " placeholder="Senha" autocomplete="off" />
                <span asp-validation-for="@Model.Senha" class="text-danger"></span>
            </div>
            <div class="w-100"> </div>
            <div class="form-group">
              
                <input asp-for="@Model.ConfSenha" class="form-control " placeholder="Confirmação de Senha" autocomplete="off" />
                <span asp-validation-for="@Model.ConfSenha" class="text-danger"></span>
                <br />
            </div>
        }

        <div class="text-center ml-2">
            <a asp-action="Login" class="btn btn-outline-secondary">Cancelar</a>
            <button class="btn btn-outline-primary ml-2" type="submit">Salvar</button>
        </div>

    </form>
</div>
