@model IEnumerable<ClienteModel>
@{
    ViewBag.Subtitulo = "Clientes";
}
<br />
<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewBag.Subtitulo</h1>
    </div>
    <div>
        <a asp-action="Cadastrar" class="btn btn-primary">Novo Cliente</a>
    </div>
</header>
<hr />

<partial name="_Mensagem" />

@if (Model.Count() > 0)
{
<div class="table-responsive">
    <table class="text-black table table-bordered border border-secondary border-2 rounded-3 tabela-clientes " id="tableAll"
           style="margin-bottom: 200px;">
        <thead>
            <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>CPF</th>
                <th>Idade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var clientes in Model)
            {
                <tr>
                    <td> @clientes.NomeUsuario</td>
                    <td>@clientes.EmailUsuario</td>
                    <td>@clientes.CPFUsuario</td>
                    <td>@clientes.Idade</td>
                    <td>
                        <a asp-action="Index" asp-controller="Pedido" asp-route-cid="@clientes.IdUsuario"
                           class="bi bi bi-handbag btn btn-outline-secondary" title="Pedidos do cliente"></a>
                        <a asp-action="Index" asp-controller="Endereco" asp-route-cid="@clientes.IdUsuario"
                           class="bi bi-house btn btn-outline-secondary" title="Endereço do cliente"></a>
                        <a asp-action="Cadastrar" asp-route-id="@clientes.IdUsuario"
                           class="bi bi-pencil btn btn-outline-secondary" title="Alteração do cliente"></a>
                        <a asp-action="Excluir" asp-route-id="@clientes.IdUsuario"
                           class="bi bi-trash3-fill btn btn-outline-danger" title="Exclusão do cliente"></a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>
}
else
{
    <p>Não há nennhum Cliente cadastrado</p>
}
