@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var controllerAtual = ViewContext.RouteData.Values["controller"].ToString();
    var classeMenuPrincipal = controllerAtual == "Home" ? "active" : "";
    var classeMenuProdutos = controllerAtual == "Produto" ? "active" : "";
    var classeMenuCategorias = controllerAtual == "Categoria" ? "active" : "";
    var classeMenuClientes = controllerAtual == "Cliente" ? "active" : "";
    var classeMenuUsuario = controllerAtual == "Usuario" ? "active" : "";
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/icons8-circled-e-50 (1).png" />
    <title>EstoqueWeb @ViewBag.Subtitulo</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-5/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <div class="container">

            <a class="navbar-brand text-primary pt-3" href="/">
                <p class="textEstoque">EstoqueWeeb</p>

            </a>
            @if (Context.User.Identity.IsAuthenticated)
            {
                <button class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarMain"
                        aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation" style="position:absolute; left:10px; top:10px;">
                    <div class="animated-icon1"><span></span><span></span><span></span></div>
                </button>
            }
            <div id="navbarMain" class="w-auto " style="">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="navbar-nav ml-5 menu-itens" style="">

                        <a class="nav-link @classeMenuPrincipal" asp-controller="Home" asp-action="Index">Principal </a>

                        <a class="nav-link  @classeMenuProdutos" asp-controller="Produto" asp-action="Index">Produtos </a>

                        <a class="nav-link @classeMenuCategorias" asp-controller="Categoria" asp-action="Index">Categoria </a>

                        <a class="nav-link @classeMenuClientes" asp-controller="Cliente" asp-action="Index">Clientes </a>

                        <a class="nav-link @classeMenuUsuario" asp-controller="Usuario" asp-action="Index">Usuários </a>

                    </div>}
                else
                {
                    <div class="navbar-nav ml-5 "></div>
                }

            </div>

        </div>

        <partial name="_LoginLogoutPartial" />

    </nav>

    <div class="container mt-2">
        @RenderBody()
    </div>

    <div class="text-secondary bg-dark p-2 text-center" style="position: absolute; bottom: 0; width: 100%">
        EstoqueWeb&copy;@DateTime.Now.Year.ToString()

        / Todos os direitos reservados
        @RenderSection("Footer", false)
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-5/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/af-2.3.7/b-2.2.2/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", false)

</body>
</html>
